/* 공통 카드 박스 스타일 */
.user-container {
  font-size: 2rem;
  color: #4a4a4a;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 100vh;
  background-color: #eee2d3;
}

.user-box {
  background-color: #ffffff;
  padding: 2rem 3rem;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
  width: 100%;
  max-width: 400px;
}

/* 제목 */
.user-box h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #333;
}

/* 입력창 */
.user-box form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.user-box input {
  width: 100%;
  height: 2.7rem;
  padding: 0.8rem 1rem;
  /* margin-bottom: 1rem; */
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 1rem;
  box-sizing: border-box;
  transition: border-color 0.2s;
}

.user-box input:focus {
  outline: none;
  border-color: #70372c;
}

/* 버튼 */
.user-box button {
  width: 100%;
  padding: 1rem;
  background-color: #70372c;
  border: none;
  color: white;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition:
    background-color 0.2s,
    filter 0.25s ease,
    transform 0.25s ease;
}

.user-box button:hover {
  transform: scale(1.015);
  filter: drop-shadow(0 0 7px rgba(112, 55, 44, 0.20));
}

/* 다른 페이지로 이동 */
.user-box .go-to-link {
  margin-top: 1rem;
  box-sizing: border-box;
}

.user-box .go-to-link .user-font {
  font-size: 0.9rem;
  text-decoration: none;
  color: #4a4a4a;
  padding: 0 1rem;
}

/* 중복확인 영역 */
.user-box .duplication-chk {
  display: flex;
  gap: 0.5rem;
  width: 100%;
  height: auto;
  align-items: stretch;
}

.user-box .duplication-chk input {
  flex: 8;
}

.user-box .duplication-chk button {
  height: 2.7rem;
  font-size: 0.8rem;
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  flex: 2;
}
